/*------------------------------------*\
    MAIN
\*------------------------------------*/

* {
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
          box-sizing:border-box;
    *behavior: url(boxsizing.htc);
    -webkit-font-smoothing:antialiased;
          font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}

html {
    font-family: sans-serif; // 1
    -ms-text-size-adjust: 100%; // 2
    -webkit-text-size-adjust: 100%; // 2
}

img { display: block; max-width: 100%; border: 0; }

object, embed, video, iframe, iframe[style] { max-width: 100%; }

ul { list-style-type: none; }

/* ==================== HTML 5 ===================== */

article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
    display: block;
}

figure { margin: 0; }

//
// 1. Correct `inline-block` display not defined in IE 8/9.
// 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
//

audio, canvas, progress, video {
    display: inline-block; // 1
    vertical-align: baseline; // 2
}

//
// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
//

audio:not([controls]) { display: none; height: 0; }

//
// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
//

[hidden], template { display: none; }

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/* ==================== FORMULÃRIO ===================== */

// Reset fonts for relevant elements
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

select {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}