// ------------------------------------------------------------
// BERAKPOINTS
// ------------------------------------------------------------

$grid-breakpoints: (
    bp576: 576px,
    bp768: 768px,
    bp992: 992px,
    bp1200: 1200px
);

// ------------------------------------------------------------
// COLORS
// ------------------------------------------------------------

$colors: (
    primary     : $primary,
    secondary   : $secondary,
    snow        : $snow,
    dark        : $dark,
    sun         : $sun,
    grass       : $grass,
    blood       : $blood,
    grey-100    : $grey-100,
    grey-150    : $grey-150,
    grey-200    : $grey-200,
    grey-250    : $grey-250,
    grey-300    : $grey-300
);

// ------------------------------------------------------------
// FONTS
// ------------------------------------------------------------

$font-size : (
    14 : $fs14,
    16 : $fs16,
    18 : $fs18,
    24 : $fs24,
    36 : $fs36,
    48 : $fs48,
);

$font-family : (
    primary    : $font-primary,
    secondary   : $font-secondary
);

$font-weight : (
    light:      300,
    regular:    400,
    medium:     500,
    semibold:   600,
    bold:       700,
    xbold:      800,
    black:      900
);

// ------------------------------------------------------------
// SPACING
// ------------------------------------------------------------

$margin: (
    0: 0,
);

$padding: (
    0: 0,
);