$breakpoint-separator: '\\:';

//== Typography
$font-primary: 'Montserrat';
$font-secondary: 'PT Sans';

$small-x: 	14px;
$small: 	16px;
$regular: 	18px;
$large: 	24px;
$large-x: 	36px;
$large-xx: 	48px;

$font-size-primary:		$regular;
$line-height-primary:	$regular;

$font-size-h1:	floor(($font-size-primary * 2.6)) !default;
$font-size-h2:	floor(($font-size-primary * 2.15)) !default;
$font-size-h3:	ceil(($font-size-primary * 1.7)) !default;
$font-size-h4:	ceil(($font-size-primary * 1.25)) !default;
$font-size-h5:	$font-size-primary !default;
$font-size-h6:	ceil(($font-size-primary * 0.85)) !default;

//== Colors
$primary: 		#848484;
$secondary: 	#1a2140;
$snow: 			#fff;
$dark: 			#000;
$sun: 			#ffed2d;
$grass: 		#007d32;
$blood: 		#e41b13;
$grey-lighter: 	#f7f7f7;
$grey-light: 	#b9b9b9;
$grey: 			#9f9f9f;
$grey-dark: 	#696969;
$grey-darker: 	#464646;


//== Config Global
$body-bg:               $snow !default;
$text-color:            $primary !default;
$link-color:            $primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;