// espaçamento da colunas
$grid-columns:              12 !default;
$grid-gutter-width:         16px !default;
$break-point-default:       0;


// Grid system
//
// Generate semantic grid columns with these mixins.

// Centered container element
@mixin container-fixed($gutter: $grid-gutter-width) {
    margin-right: auto;
    margin-left: auto;
    padding-left:  floor(($gutter / 2));
    padding-right: ceil(($gutter / 2));
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
    margin-left:  ceil(($gutter / -2));
    margin-right: floor(($gutter / -2));
    @extend .cf;
}

@mixin make-grid-column-offset($columns: $grid-columns, $breakpoint: $break-point-default) {
    @media (min-width: $breakpoint) {
        margin-left: percentage(($columns / $grid-columns));
    }
}

@mixin make-grid-column-push($columns: $grid-columns, $breakpoint: $break-point-default) {
    @media (min-width: $breakpoint) {
        left: percentage(($columns / $grid-columns));
    }
}

@mixin make-grid-column-pull($columns: $grid-columns, $breakpoint: $break-point-default) {
    @media (min-width: $breakpoint) {
        right: percentage(($columns / $grid-columns));
    }
}

@mixin make-grid-column($columns: $grid-columns, $breakpoint: $break-point-default, $gutter: $grid-gutter-width) {
    @media (min-width: $breakpoint) {
        position: relative;
        min-height: 1px;
        padding-left:  ($gutter / 2);
        padding-right: ($gutter / 2);
        float: left;
        width: percentage(($columns / $grid-columns));
    }
}

.container {
    max-width: 1280px;
    @include container-fixed;
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
    @include container-fixed;
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
    @include make-row;
}