@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
/*------------------------------------*\
    MAIN
\*------------------------------------*/
* {
  padding: 0;
  margin: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(boxsizing.htc);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: "Montserrat, sans-serif";
  font-size: 18px;
  line-height: 18px;
  color: #848484;
  background-color: #fff; }

img {
  display: block;
  max-width: 100%;
  border: 0; }

object, embed, video, iframe, iframe[style] {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ul {
  list-style-type: none; }

/* ==================== HTML 5 ===================== */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
  display: block; }

figure {
  margin: 0; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

/* ==================== LINKS ===================== */
a {
  color: #848484;
  text-decoration: none;
  background-color: transparent; }
  a:hover, a:focus {
    color: #5e5e5e;
    text-decoration: underline; }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  a:active, a:hover {
    outline: 0; }

/* ==================== TIPOGRAFIA ===================== */
b,
strong {
  font-weight: bold; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* ==================== FORMATAÇÃO ALINHAMENTO ===================== */
.alignleft, img.alignleft, .alignright, img.alignright {
  display: inline; }

.aligncenter, img.aligncenter, .alignnone, img.alignnone {
  display: block;
  clear: both; }

.alignleft, img.alignleft {
  float: left;
  margin: 15px 15px 26px 0; }

.alignright, img.alignright {
  float: right;
  margin: 15px 0 15px 15px; }

.aligncenter, img.aligncenter {
  margin: 15px auto 10px auto; }

.alignnone, img.alignnone {
  margin: 20px auto; }

/* ==================== FORMULÁRIO ===================== */
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: "";
    display: table; }
  .cf:after {
    clear: both; }

/* aspect ratio do youtube 16:9 */
.ratiohd {
  position: relative;
  padding-bottom: 56.25%;
  /* (9 / 16) * 100 */
  float: left;
  width: 100%;
  height: 0; }

.ratio_el {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

/* ==================== MENU DROPDOWN ===================== */
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
  list-style: none; }

ul.dropdown {
  position: relative;
  z-index: 597; }

ul.dropdown li {
  float: left;
  min-height: 1px;
  vertical-align: middle; }

ul.dropdown li.hover,
ul.dropdown li:hover {
  position: relative;
  z-index: 599;
  cursor: default; }

/* DIREÇÃO DO SUBMENU*/
ul.dropdown-right ul {
  right: 0; }

ul.dropdown-left ul {
  left: 0; }

/* SUBMENU */
ul.dropdown ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  z-index: 598;
  font-size: 12px; }

ul.dropdown ul li {
  float: none; }

ul.dropdown ul ul {
  top: 1px;
  left: 99%; }

ul.dropdown li:hover > ul {
  visibility: visible;
  width: 211px; }

.pos-r {
  position: relative; }

.pos-a {
  position: absolute; }

/* --------------------------------------------------------------- */
/* BACKGROUNDS */
/* --------------------------------------------------------------- */
.bg-primary {
  background-color: #848484; }

.bg-secondary {
  background-color: #1a2140; }

.bg-snow {
  background-color: #fff; }

.bg-dark {
  background-color: #000; }

.bg-sun {
  background-color: #ffed2d; }

.bg-grass {
  background-color: #007d32; }

.bg-blood {
  background-color: #e41b13; }

.bg-grey-lighter {
  background-color: #f7f7f7; }

.bg-grey-light {
  background-color: #b9b9b9; }

.bg-grey {
  background-color: #9f9f9f; }

.bg-grey-dark {
  background-color: #696969; }

.bg-grey-darker {
  background-color: #464646; }

/* --------------------------------------------------------------- */
/* FONT-COLORS */
/* --------------------------------------------------------------- */
.color-primary {
  color: #848484; }

.color-secondary {
  color: #1a2140; }

.color-snow {
  color: #fff; }

.color-dark {
  color: #000; }

.color-sun {
  color: #ffed2d; }

.color-grass {
  color: #007d32; }

.color-blood {
  color: #e41b13; }

.color-grey-lighter {
  color: #f7f7f7; }

.color-grey-light {
  color: #b9b9b9; }

.color-grey {
  color: #9f9f9f; }

.color-grey-dark {
  color: #696969; }

.color-grey-darker {
  color: #464646; }

/* --------------------------------------------------------------- */
/* FONT-SIZE */
/* --------------------------------------------------------------- */
.fs-small-x {
  font-size: 14px; }

.fs-small {
  font-size: 16px; }

.fs-regular {
  font-size: 18px; }

.fs-large {
  font-size: 24px; }

.fs-large-x {
  font-size: 36px; }

.fs-large-xx {
  font-size: 48px; }

@media (min-width: 576px) {
  .bp576\:fs-small-x {
    font-size: 14px; }
  .bp576\:fs-small {
    font-size: 16px; }
  .bp576\:fs-regular {
    font-size: 18px; }
  .bp576\:fs-large {
    font-size: 24px; }
  .bp576\:fs-large-x {
    font-size: 36px; }
  .bp576\:fs-large-xx {
    font-size: 48px; } }

@media (min-width: 600px) {
  .bp600\:fs-small-x {
    font-size: 14px; }
  .bp600\:fs-small {
    font-size: 16px; }
  .bp600\:fs-regular {
    font-size: 18px; }
  .bp600\:fs-large {
    font-size: 24px; }
  .bp600\:fs-large-x {
    font-size: 36px; }
  .bp600\:fs-large-xx {
    font-size: 48px; } }

@media (min-width: 1200px) {
  .bp1200\:fs-small-x {
    font-size: 14px; }
  .bp1200\:fs-small {
    font-size: 16px; }
  .bp1200\:fs-regular {
    font-size: 18px; }
  .bp1200\:fs-large {
    font-size: 24px; }
  .bp1200\:fs-large-x {
    font-size: 36px; }
  .bp1200\:fs-large-xx {
    font-size: 48px; } }

/* --------------------------------------------------------------- */
/* FONT-FAMILY */
/* --------------------------------------------------------------- */
.ff-primary {
  font-family: Montserrat, sans-serif; }

.ff-secondary {
  font-family: PT Sans, sans-serif; }

/* --------------------------------------------------------------- */
/* FONT-WEIGHT */
/* --------------------------------------------------------------- */
.fw-light {
  font-weight: 300; }

.fw-regular {
  font-weight: 400; }

.fw-medium {
  font-weight: 500; }

.fw-semibold {
  font-weight: 600; }

.fw-bold {
  font-weight: 700; }

.fw-xbold {
  font-weight: 800; }

.fw-black {
  font-weight: 900; }

/* --------------------------------------------------------------- */
/* PADDING */
/* --------------------------------------------------------------- */
.pd-0 {
  padding: 0; }

.pd-t-0 {
  padding-top: 0; }

.pd-l-0 {
  padding-left: 0; }

.pd-b-0 {
  padding-bottom: 0; }

.pd-r-0 {
  padding-right: 0; }

.pd-1 {
  padding: 1px; }

.pd-t-1 {
  padding-top: 1px; }

.pd-l-1 {
  padding-left: 1px; }

.pd-b-1 {
  padding-bottom: 1px; }

.pd-r-1 {
  padding-right: 1px; }

.pd-5 {
  padding: 5px; }

.pd-t-5 {
  padding-top: 5px; }

.pd-l-5 {
  padding-left: 5px; }

.pd-b-5 {
  padding-bottom: 5px; }

.pd-r-5 {
  padding-right: 5px; }

.pd-10 {
  padding: 10px; }

.pd-t-10 {
  padding-top: 10px; }

.pd-l-10 {
  padding-left: 10px; }

.pd-b-10 {
  padding-bottom: 10px; }

.pd-r-10 {
  padding-right: 10px; }

.pd-15 {
  padding: 15px; }

.pd-t-15 {
  padding-top: 15px; }

.pd-l-15 {
  padding-left: 15px; }

.pd-b-15 {
  padding-bottom: 15px; }

.pd-r-15 {
  padding-right: 15px; }

.pd-20 {
  padding: 20px; }

.pd-t-20 {
  padding-top: 20px; }

.pd-l-20 {
  padding-left: 20px; }

.pd-b-20 {
  padding-bottom: 20px; }

.pd-r-20 {
  padding-right: 20px; }

.pd-30 {
  padding: 30px; }

.pd-t-30 {
  padding-top: 30px; }

.pd-l-30 {
  padding-left: 30px; }

.pd-b-30 {
  padding-bottom: 30px; }

.pd-r-30 {
  padding-right: 30px; }

.pd-64 {
  padding: 64px; }

.pd-t-64 {
  padding-top: 64px; }

.pd-l-64 {
  padding-left: 64px; }

.pd-b-64 {
  padding-bottom: 64px; }

.pd-r-64 {
  padding-right: 64px; }

@media (min-width: 576px) {
  .bp576\:pd-0 {
    padding: 0; }
  .bp576\:pd-t-0 {
    padding-top: 0; }
  .bp576\:pd-l-0 {
    padding-left: 0; }
  .bp576\:pd-b-0 {
    padding-bottom: 0; }
  .bp576\:pd-r-0 {
    padding-right: 0; }
  .bp576\:pd-1 {
    padding: 1px; }
  .bp576\:pd-t-1 {
    padding-top: 1px; }
  .bp576\:pd-l-1 {
    padding-left: 1px; }
  .bp576\:pd-b-1 {
    padding-bottom: 1px; }
  .bp576\:pd-r-1 {
    padding-right: 1px; }
  .bp576\:pd-5 {
    padding: 5px; }
  .bp576\:pd-t-5 {
    padding-top: 5px; }
  .bp576\:pd-l-5 {
    padding-left: 5px; }
  .bp576\:pd-b-5 {
    padding-bottom: 5px; }
  .bp576\:pd-r-5 {
    padding-right: 5px; }
  .bp576\:pd-10 {
    padding: 10px; }
  .bp576\:pd-t-10 {
    padding-top: 10px; }
  .bp576\:pd-l-10 {
    padding-left: 10px; }
  .bp576\:pd-b-10 {
    padding-bottom: 10px; }
  .bp576\:pd-r-10 {
    padding-right: 10px; }
  .bp576\:pd-15 {
    padding: 15px; }
  .bp576\:pd-t-15 {
    padding-top: 15px; }
  .bp576\:pd-l-15 {
    padding-left: 15px; }
  .bp576\:pd-b-15 {
    padding-bottom: 15px; }
  .bp576\:pd-r-15 {
    padding-right: 15px; }
  .bp576\:pd-20 {
    padding: 20px; }
  .bp576\:pd-t-20 {
    padding-top: 20px; }
  .bp576\:pd-l-20 {
    padding-left: 20px; }
  .bp576\:pd-b-20 {
    padding-bottom: 20px; }
  .bp576\:pd-r-20 {
    padding-right: 20px; }
  .bp576\:pd-30 {
    padding: 30px; }
  .bp576\:pd-t-30 {
    padding-top: 30px; }
  .bp576\:pd-l-30 {
    padding-left: 30px; }
  .bp576\:pd-b-30 {
    padding-bottom: 30px; }
  .bp576\:pd-r-30 {
    padding-right: 30px; }
  .bp576\:pd-64 {
    padding: 64px; }
  .bp576\:pd-t-64 {
    padding-top: 64px; }
  .bp576\:pd-l-64 {
    padding-left: 64px; }
  .bp576\:pd-b-64 {
    padding-bottom: 64px; }
  .bp576\:pd-r-64 {
    padding-right: 64px; } }

@media (min-width: 600px) {
  .bp600\:pd-0 {
    padding: 0; }
  .bp600\:pd-t-0 {
    padding-top: 0; }
  .bp600\:pd-l-0 {
    padding-left: 0; }
  .bp600\:pd-b-0 {
    padding-bottom: 0; }
  .bp600\:pd-r-0 {
    padding-right: 0; }
  .bp600\:pd-1 {
    padding: 1px; }
  .bp600\:pd-t-1 {
    padding-top: 1px; }
  .bp600\:pd-l-1 {
    padding-left: 1px; }
  .bp600\:pd-b-1 {
    padding-bottom: 1px; }
  .bp600\:pd-r-1 {
    padding-right: 1px; }
  .bp600\:pd-5 {
    padding: 5px; }
  .bp600\:pd-t-5 {
    padding-top: 5px; }
  .bp600\:pd-l-5 {
    padding-left: 5px; }
  .bp600\:pd-b-5 {
    padding-bottom: 5px; }
  .bp600\:pd-r-5 {
    padding-right: 5px; }
  .bp600\:pd-10 {
    padding: 10px; }
  .bp600\:pd-t-10 {
    padding-top: 10px; }
  .bp600\:pd-l-10 {
    padding-left: 10px; }
  .bp600\:pd-b-10 {
    padding-bottom: 10px; }
  .bp600\:pd-r-10 {
    padding-right: 10px; }
  .bp600\:pd-15 {
    padding: 15px; }
  .bp600\:pd-t-15 {
    padding-top: 15px; }
  .bp600\:pd-l-15 {
    padding-left: 15px; }
  .bp600\:pd-b-15 {
    padding-bottom: 15px; }
  .bp600\:pd-r-15 {
    padding-right: 15px; }
  .bp600\:pd-20 {
    padding: 20px; }
  .bp600\:pd-t-20 {
    padding-top: 20px; }
  .bp600\:pd-l-20 {
    padding-left: 20px; }
  .bp600\:pd-b-20 {
    padding-bottom: 20px; }
  .bp600\:pd-r-20 {
    padding-right: 20px; }
  .bp600\:pd-30 {
    padding: 30px; }
  .bp600\:pd-t-30 {
    padding-top: 30px; }
  .bp600\:pd-l-30 {
    padding-left: 30px; }
  .bp600\:pd-b-30 {
    padding-bottom: 30px; }
  .bp600\:pd-r-30 {
    padding-right: 30px; }
  .bp600\:pd-64 {
    padding: 64px; }
  .bp600\:pd-t-64 {
    padding-top: 64px; }
  .bp600\:pd-l-64 {
    padding-left: 64px; }
  .bp600\:pd-b-64 {
    padding-bottom: 64px; }
  .bp600\:pd-r-64 {
    padding-right: 64px; } }

@media (min-width: 1200px) {
  .bp1200\:pd-0 {
    padding: 0; }
  .bp1200\:pd-t-0 {
    padding-top: 0; }
  .bp1200\:pd-l-0 {
    padding-left: 0; }
  .bp1200\:pd-b-0 {
    padding-bottom: 0; }
  .bp1200\:pd-r-0 {
    padding-right: 0; }
  .bp1200\:pd-1 {
    padding: 1px; }
  .bp1200\:pd-t-1 {
    padding-top: 1px; }
  .bp1200\:pd-l-1 {
    padding-left: 1px; }
  .bp1200\:pd-b-1 {
    padding-bottom: 1px; }
  .bp1200\:pd-r-1 {
    padding-right: 1px; }
  .bp1200\:pd-5 {
    padding: 5px; }
  .bp1200\:pd-t-5 {
    padding-top: 5px; }
  .bp1200\:pd-l-5 {
    padding-left: 5px; }
  .bp1200\:pd-b-5 {
    padding-bottom: 5px; }
  .bp1200\:pd-r-5 {
    padding-right: 5px; }
  .bp1200\:pd-10 {
    padding: 10px; }
  .bp1200\:pd-t-10 {
    padding-top: 10px; }
  .bp1200\:pd-l-10 {
    padding-left: 10px; }
  .bp1200\:pd-b-10 {
    padding-bottom: 10px; }
  .bp1200\:pd-r-10 {
    padding-right: 10px; }
  .bp1200\:pd-15 {
    padding: 15px; }
  .bp1200\:pd-t-15 {
    padding-top: 15px; }
  .bp1200\:pd-l-15 {
    padding-left: 15px; }
  .bp1200\:pd-b-15 {
    padding-bottom: 15px; }
  .bp1200\:pd-r-15 {
    padding-right: 15px; }
  .bp1200\:pd-20 {
    padding: 20px; }
  .bp1200\:pd-t-20 {
    padding-top: 20px; }
  .bp1200\:pd-l-20 {
    padding-left: 20px; }
  .bp1200\:pd-b-20 {
    padding-bottom: 20px; }
  .bp1200\:pd-r-20 {
    padding-right: 20px; }
  .bp1200\:pd-30 {
    padding: 30px; }
  .bp1200\:pd-t-30 {
    padding-top: 30px; }
  .bp1200\:pd-l-30 {
    padding-left: 30px; }
  .bp1200\:pd-b-30 {
    padding-bottom: 30px; }
  .bp1200\:pd-r-30 {
    padding-right: 30px; }
  .bp1200\:pd-64 {
    padding: 64px; }
  .bp1200\:pd-t-64 {
    padding-top: 64px; }
  .bp1200\:pd-l-64 {
    padding-left: 64px; }
  .bp1200\:pd-b-64 {
    padding-bottom: 64px; }
  .bp1200\:pd-r-64 {
    padding-right: 64px; } }

/* --------------------------------------------------------------- */
/* MARGIN */
/* --------------------------------------------------------------- */
.mg-0 {
  margin: 0; }

.mg-t-0 {
  margin-top: 0; }

.mg-l-0 {
  margin-left: 0; }

.mg-b-0 {
  margin-bottom: 0; }

.mg-r-0 {
  margin-right: 0; }

.mg-1 {
  margin: 1px; }

.mg-t-1 {
  margin-top: 1px; }

.mg-l-1 {
  margin-left: 1px; }

.mg-b-1 {
  margin-bottom: 1px; }

.mg-r-1 {
  margin-right: 1px; }

.mg-5 {
  margin: 5px; }

.mg-t-5 {
  margin-top: 5px; }

.mg-l-5 {
  margin-left: 5px; }

.mg-b-5 {
  margin-bottom: 5px; }

.mg-r-5 {
  margin-right: 5px; }

.mg-10 {
  margin: 10px; }

.mg-t-10 {
  margin-top: 10px; }

.mg-l-10 {
  margin-left: 10px; }

.mg-b-10 {
  margin-bottom: 10px; }

.mg-r-10 {
  margin-right: 10px; }

.mg-15 {
  margin: 15px; }

.mg-t-15 {
  margin-top: 15px; }

.mg-l-15 {
  margin-left: 15px; }

.mg-b-15 {
  margin-bottom: 15px; }

.mg-r-15 {
  margin-right: 15px; }

.mg-20 {
  margin: 20px; }

.mg-t-20 {
  margin-top: 20px; }

.mg-l-20 {
  margin-left: 20px; }

.mg-b-20 {
  margin-bottom: 20px; }

.mg-r-20 {
  margin-right: 20px; }

.mg-30 {
  margin: 30px; }

.mg-t-30 {
  margin-top: 30px; }

.mg-l-30 {
  margin-left: 30px; }

.mg-b-30 {
  margin-bottom: 30px; }

.mg-r-30 {
  margin-right: 30px; }

.mg-64 {
  margin: 64px; }

.mg-t-64 {
  margin-top: 64px; }

.mg-l-64 {
  margin-left: 64px; }

.mg-b-64 {
  margin-bottom: 64px; }

.mg-r-64 {
  margin-right: 64px; }

@media (min-width: 576px) {
  .bp576\:mg-0 {
    margin: 0; }
  .bp576\:mg-t-0 {
    margin-top: 0; }
  .bp576\:mg-l-0 {
    margin-left: 0; }
  .bp576\:mg-b-0 {
    margin-bottom: 0; }
  .bp576\:mg-r-0 {
    margin-right: 0; }
  .bp576\:mg-1 {
    margin: 1px; }
  .bp576\:mg-t-1 {
    margin-top: 1px; }
  .bp576\:mg-l-1 {
    margin-left: 1px; }
  .bp576\:mg-b-1 {
    margin-bottom: 1px; }
  .bp576\:mg-r-1 {
    margin-right: 1px; }
  .bp576\:mg-5 {
    margin: 5px; }
  .bp576\:mg-t-5 {
    margin-top: 5px; }
  .bp576\:mg-l-5 {
    margin-left: 5px; }
  .bp576\:mg-b-5 {
    margin-bottom: 5px; }
  .bp576\:mg-r-5 {
    margin-right: 5px; }
  .bp576\:mg-10 {
    margin: 10px; }
  .bp576\:mg-t-10 {
    margin-top: 10px; }
  .bp576\:mg-l-10 {
    margin-left: 10px; }
  .bp576\:mg-b-10 {
    margin-bottom: 10px; }
  .bp576\:mg-r-10 {
    margin-right: 10px; }
  .bp576\:mg-15 {
    margin: 15px; }
  .bp576\:mg-t-15 {
    margin-top: 15px; }
  .bp576\:mg-l-15 {
    margin-left: 15px; }
  .bp576\:mg-b-15 {
    margin-bottom: 15px; }
  .bp576\:mg-r-15 {
    margin-right: 15px; }
  .bp576\:mg-20 {
    margin: 20px; }
  .bp576\:mg-t-20 {
    margin-top: 20px; }
  .bp576\:mg-l-20 {
    margin-left: 20px; }
  .bp576\:mg-b-20 {
    margin-bottom: 20px; }
  .bp576\:mg-r-20 {
    margin-right: 20px; }
  .bp576\:mg-30 {
    margin: 30px; }
  .bp576\:mg-t-30 {
    margin-top: 30px; }
  .bp576\:mg-l-30 {
    margin-left: 30px; }
  .bp576\:mg-b-30 {
    margin-bottom: 30px; }
  .bp576\:mg-r-30 {
    margin-right: 30px; }
  .bp576\:mg-64 {
    margin: 64px; }
  .bp576\:mg-t-64 {
    margin-top: 64px; }
  .bp576\:mg-l-64 {
    margin-left: 64px; }
  .bp576\:mg-b-64 {
    margin-bottom: 64px; }
  .bp576\:mg-r-64 {
    margin-right: 64px; } }

@media (min-width: 600px) {
  .bp600\:mg-0 {
    margin: 0; }
  .bp600\:mg-t-0 {
    margin-top: 0; }
  .bp600\:mg-l-0 {
    margin-left: 0; }
  .bp600\:mg-b-0 {
    margin-bottom: 0; }
  .bp600\:mg-r-0 {
    margin-right: 0; }
  .bp600\:mg-1 {
    margin: 1px; }
  .bp600\:mg-t-1 {
    margin-top: 1px; }
  .bp600\:mg-l-1 {
    margin-left: 1px; }
  .bp600\:mg-b-1 {
    margin-bottom: 1px; }
  .bp600\:mg-r-1 {
    margin-right: 1px; }
  .bp600\:mg-5 {
    margin: 5px; }
  .bp600\:mg-t-5 {
    margin-top: 5px; }
  .bp600\:mg-l-5 {
    margin-left: 5px; }
  .bp600\:mg-b-5 {
    margin-bottom: 5px; }
  .bp600\:mg-r-5 {
    margin-right: 5px; }
  .bp600\:mg-10 {
    margin: 10px; }
  .bp600\:mg-t-10 {
    margin-top: 10px; }
  .bp600\:mg-l-10 {
    margin-left: 10px; }
  .bp600\:mg-b-10 {
    margin-bottom: 10px; }
  .bp600\:mg-r-10 {
    margin-right: 10px; }
  .bp600\:mg-15 {
    margin: 15px; }
  .bp600\:mg-t-15 {
    margin-top: 15px; }
  .bp600\:mg-l-15 {
    margin-left: 15px; }
  .bp600\:mg-b-15 {
    margin-bottom: 15px; }
  .bp600\:mg-r-15 {
    margin-right: 15px; }
  .bp600\:mg-20 {
    margin: 20px; }
  .bp600\:mg-t-20 {
    margin-top: 20px; }
  .bp600\:mg-l-20 {
    margin-left: 20px; }
  .bp600\:mg-b-20 {
    margin-bottom: 20px; }
  .bp600\:mg-r-20 {
    margin-right: 20px; }
  .bp600\:mg-30 {
    margin: 30px; }
  .bp600\:mg-t-30 {
    margin-top: 30px; }
  .bp600\:mg-l-30 {
    margin-left: 30px; }
  .bp600\:mg-b-30 {
    margin-bottom: 30px; }
  .bp600\:mg-r-30 {
    margin-right: 30px; }
  .bp600\:mg-64 {
    margin: 64px; }
  .bp600\:mg-t-64 {
    margin-top: 64px; }
  .bp600\:mg-l-64 {
    margin-left: 64px; }
  .bp600\:mg-b-64 {
    margin-bottom: 64px; }
  .bp600\:mg-r-64 {
    margin-right: 64px; } }

@media (min-width: 1200px) {
  .bp1200\:mg-0 {
    margin: 0; }
  .bp1200\:mg-t-0 {
    margin-top: 0; }
  .bp1200\:mg-l-0 {
    margin-left: 0; }
  .bp1200\:mg-b-0 {
    margin-bottom: 0; }
  .bp1200\:mg-r-0 {
    margin-right: 0; }
  .bp1200\:mg-1 {
    margin: 1px; }
  .bp1200\:mg-t-1 {
    margin-top: 1px; }
  .bp1200\:mg-l-1 {
    margin-left: 1px; }
  .bp1200\:mg-b-1 {
    margin-bottom: 1px; }
  .bp1200\:mg-r-1 {
    margin-right: 1px; }
  .bp1200\:mg-5 {
    margin: 5px; }
  .bp1200\:mg-t-5 {
    margin-top: 5px; }
  .bp1200\:mg-l-5 {
    margin-left: 5px; }
  .bp1200\:mg-b-5 {
    margin-bottom: 5px; }
  .bp1200\:mg-r-5 {
    margin-right: 5px; }
  .bp1200\:mg-10 {
    margin: 10px; }
  .bp1200\:mg-t-10 {
    margin-top: 10px; }
  .bp1200\:mg-l-10 {
    margin-left: 10px; }
  .bp1200\:mg-b-10 {
    margin-bottom: 10px; }
  .bp1200\:mg-r-10 {
    margin-right: 10px; }
  .bp1200\:mg-15 {
    margin: 15px; }
  .bp1200\:mg-t-15 {
    margin-top: 15px; }
  .bp1200\:mg-l-15 {
    margin-left: 15px; }
  .bp1200\:mg-b-15 {
    margin-bottom: 15px; }
  .bp1200\:mg-r-15 {
    margin-right: 15px; }
  .bp1200\:mg-20 {
    margin: 20px; }
  .bp1200\:mg-t-20 {
    margin-top: 20px; }
  .bp1200\:mg-l-20 {
    margin-left: 20px; }
  .bp1200\:mg-b-20 {
    margin-bottom: 20px; }
  .bp1200\:mg-r-20 {
    margin-right: 20px; }
  .bp1200\:mg-30 {
    margin: 30px; }
  .bp1200\:mg-t-30 {
    margin-top: 30px; }
  .bp1200\:mg-l-30 {
    margin-left: 30px; }
  .bp1200\:mg-b-30 {
    margin-bottom: 30px; }
  .bp1200\:mg-r-30 {
    margin-right: 30px; }
  .bp1200\:mg-64 {
    margin: 64px; }
  .bp1200\:mg-t-64 {
    margin-top: 64px; }
  .bp1200\:mg-l-64 {
    margin-left: 64px; }
  .bp1200\:mg-b-64 {
    margin-bottom: 64px; }
  .bp1200\:mg-r-64 {
    margin-right: 64px; } }
