.header {
	background-color: #000f1e;
	border-bottom: 1px solid #234669;
	@include x-rem(padding, 5px 0);
}

.header-logo {
	@include make-grid-column(2);
}

.menu-principal {
	text-align: right;
	@include make-grid-column(6);
	@include make-grid-column-offset(4);

	.page_item {
		display: inline-block;

		a {
			display: block;
			line-height: 43px;
		}
	}
}