.header {
	background-color: #000f1e;
	border-bottom: 1px solid #234669;
	@include x-rem(padding, 5px 0);
}

.header-logo { display: block; width: 180px; }

@media ( min-width: 1200px ) {
	.menu {
		float: right;

		.menu-item {
			a {
				display: block;
				padding: 10px;
			}
		}
	}
}